.wrapper
  .banner
    .banner__container
      .banner__title #[span Bonus] na prvi #[br] depozit
      ul.banner__list
        li.banner__item
          .banner__item-top 100%
          .banner__item-bottom BONUSA NA PRVI #[br] DEPOZIT do 700€
        li.banner__item
          img(src='img/plus.svg' alt='plus')
        li.banner__item
          .banner__item-top 30€
          .banner__item-bottom RISK-FREE #[br] BET
        li.banner__item
          img(src='img/plus.svg' alt='plus')
        li.banner__item
          .banner__item-top 200
          .banner__item-bottom BESPLATNIH #[br] VRTNJI



